extends layout

block content
    .page
        .page__header
            .page__task-name
                | Poll website task: HTML example 2
        .page__content.page__content--padding
            .poll
                h1=vote.question
                .ex2-question
                    .ex2-question__label
                        | Your name:
                    form#answer-form
                        .ex2-question__input
                            input.input-text(type='text' name='username')
                        .ex2-question__answer
                        for answer in vote.answerVariants
                            label
                                input(type='radio' name='answer' value=answer)
                                |                         #{answer}
                        .ex2-question__submit
                            input(hidden value=vote.url name='url')
                            input.btn(type='submit' value='Submit')
                h1
                    | Results
                br
                table.ex2-table
                    thead
                        tr
                            th Name
                            for answer in vote.answerVariants
                                th=answer
                    tbody#answer-table


    script(src='/js/bundle.js')
